<div class="row">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://7xo6vz.com1.z0.glb.clouddn.com/Fk5uR_eVgX2Cg3-KmJuCaWn7XSgR" alt="New York">
      </div>

      <div class="item">
        <img src="http://7xo6vz.com1.z0.glb.clouddn.com/FvD79lxc4JZiEGd8DU2V3vjWJLEj" alt="Chicago">
      </div>

      <div class="item">
        <img src="http://7xo6vz.com1.z0.glb.clouddn.com/FjAMTavrQ2DSzHtaUa8zXwAPCnQg" alt="Los Angeles">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="fonttype add_padding">
  <div class="add_padding text-center">
    <h3>NICE ZINE</h3>
    <p>NICEZINE is a Chongqing based independent bookstore. Since 2017 we have been dedicated to promote a variety of selected independent magazines, as well as exquisite daily products/lifestyles. NICEZINE is also a platform for events and art exhibitions. At moment we have a self-publishing brand—nicebooks and a bookshop/innovative restaurant in Chonging.</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://www.stackmagazines.com/admin/wp-content/themes/stackmagazines/images/home-stack-illustration-1.png", class="img-responsive" alt="Image">
      <p>NICEZINE brings together the world's best independent magazines</p>
    </div>
    <div class="col-sm-4">
      <img src="http://www.stackmagazines.com/admin/wp-content/themes/stackmagazines/images/home-stack-illustration-2.png", class="img-responsive" alt="Image">
      <p>You choose and pay for the magazine that suits you</p>
    </div>
    <div class="col-sm-4">
      <img src="http://www.stackmagazines.com/admin/wp-content/themes/stackmagazines/images/home-stack-illustration-3.png", class="img-responsive" alt="Image">
      <p>NICEZINE delivers the magazine direct to your door</p>
    </div>
  </div>
</div>
