/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Lato');

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  font-family: 'Lato', sans-serif;
}

.alert {
  border-radius: 0;
  margin-bottom: 0;
}

// - - - - - - - - - - - - Footer Style - - - - - - - - - - - - //

footer {
  .copyright {
    text-align: center;
    font-weight: 700;
    color: #b9b7c6;
    a {
      color: rgb(245, 144, 135);
      text-decoration: none;
    }
  }
}
