// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}

#info {
  padding-top: 70px;
  font-family: 'Lato', sans-serif;
  .btn {
    color: rgb(245, 144, 135);
    border: solid rgb(245, 144, 135);
    margin-bottom: 70px;
  }
  p {
    margin-bottom: 70px;
  }
}
